{% extends 'base.html.twig' %}

{% block title %}Type{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/types.css')}}">
{% endblock %}

{% block body %}

    <a href="#"> <div class="typeDiv1">
        <h2>Entrées</h2>
                 </div>
    </a>

    <a href="#"><div class="typeDiv2">
        <h2>Plats</h2>
                 </div>
    </a>
           
    <a href="#"> <div class="typeDiv3">
            <h2>Desserts</h2>
                 </div>
    </a>

{% endblock %}
