{% extends 'base.html.twig' %}

{% block title %}Hello TypeController!{% endblock %}

{% block body %}

    <div class="typeDiv">
    
        <h2>Entrées</h2>

    <ul class="typeUl">
                <li><a href="#"><img src="{{asset('assets/img/typeImg/entrée04.webp')}}" alt=""></a></li>
            </ul>
    </div>

    <div class="typeDiv">

        <h2>Plats</h2>

            <ul class="typeUl">
                <li><a href="#"><img src="{{asset('assets/img/typeImg/plat02.webp')}}" alt=""></a></li>
            </ul>
    </div>

    <div class="typeDiv">
        <h2>Desserts</h2>
            <ul class="typeUl">
                <li><a href="#"><img src="{{asset('assets/img/typeImg/dessert02.webp')}}" alt=""></a></li>
            </ul>
    </div>
{% endblock %}
