{% extends 'base.html.twig' %}

{% block title %}Dessert{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/categories.css')}}">
{% endblock %}

{% block body %}
<section class='categorieR'>

    <h2 class="titreCategorie">Desserts </h2>

    <section class="categorieL1">
        <a href="../recette/liste/gateau"><div class="categorieGateaux bgSize">
        <h2>Gateaux</h2>
        </div></a>
        <a href="../recette/liste/fruit"><div class="categorieSaladeDeFruits bgSize">
        <h2>Salade de fruits</h2>
        </div></a>
    </section>

    <section class="categorieL1">
        <a href="../recette/liste/crepe"><div class="categorieCrèpes bgSize">
        <h2>Crèpes</h2>
        </div></a>
        <a href="../recette/liste/glace"><div class="categorieDessertGlacés bgSize">
        <h2>Dessert Glacés</h2>
        </div></a>
    </section>

    <section class="categorieL1">
        {# <a href="../recette/liste/dessertgastronomique"><div class="categorieGastronomiqueD bgSize">
        <h2>Cuisine Gastronomique</h2>
        </div></a> #}
        <a href="../recette/liste/dessertvegan"><div class="categorieVeganD bgSize">
        <h2>Vegan</h2>
        </div></a>
    </section>

</section>
{% endblock %}
