{% extends 'base.html.twig' %}

{% block title %}Entrées{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/categories.css')}}">
{% endblock %}

{% block body %}
<section class='categorieR'>

    <h2 class="titreCategorie">Entrées </h2>
    <section class="categorieL1">
        <a href=""><div class="categorieSalades bgSize">
        <h2>Salades</h2>
        </div></a>
        <a href=""><div class="categorieSoupes bgSize">
        <h2>Soupes</h2>
        </div></a>
    </section>

    <section class="categorieL1">
        <a href=""><div class="categorieEntréesFroides bgSize">
        <h2>Entrées Froides</h2>
        </div></a>
        <a href=""><div class="categorieEntréesChaudes bgSize">
        <h2>Entrées chaudes</h2>
        </div></a>
    </section>

    <section class="categorieL1">
        <a href=""><div class="categorieRaviolisNems bgSize">
        <h2>Raviolis, Nems, feuilleté...</h2>
        </div></a>
        <a href=""><div class="categorieVeganE bgSize">
        <h2>Vegan</h2>
        </div></a>
        {# <a href=""><div class="categorieGastronomiqueE bgSize">
        <h2>Gastronomique</h2>
        </div></a> #}
    </section>

</section>
{% endblock %}
