{% extends 'base.html.twig' %}

{% block title %}Hello CategoriePlatsController!{% endblock %}

{% block body %}
<section class='categorieR'>

<h2>Categorie</h2>
<div>
Viandes
</div>

</section>
{% endblock %}
