{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/categorie.css')}}">
{% endblock %}

{% block body %}
<section class='categorieR'>

<h2>Categorie</h2>
<div class="categorie">
Viandes
</div>

</section>
{% endblock %}
