{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/categories.css')}}">
{% endblock %}

{% block body %}
<section class='categorieR'>

    <h2 class="titreCategorie">Plats </h2>

<section class="categorieL1">
    <a href="../recette/liste/viande"><div class="categorieViandes bgSize">
    <h2>Viandes</h2>
    </div></a>
    <a href="../recette/liste/poisson"><div class="categoriePoissons bgSize">
    <h2>Poissons</h2>
    </div></a>
</section>

<section class="categorieL1">
    <a href="../recette/liste/monde"><div class="categorieMonde bgSize">
    <h2>Cuisine du monde</h2>
    </div></a>
    <a href="../recette/liste/vegan"><div class="categorieVegan bgSize">
    <h2>Vegan</h2>
    </div></a>
</section>

<section class="categorieL1">
    {# <a href=""><div class="categorieTraditionnel bgSize">
    <h2>Traditionnel</h2>
    </div></a> #}
    {# <a href=""><div class="categorieGastronomique bgSize">
    <h2>Gastronomique</h2>
    </div></a> #}
</section>

</section>
{% endblock %}


