{% extends 'base.html.twig' %}

{% block title %}Nouvel Ingredient{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/crud.css')}}">
{% endblock %}

{% block body %}
<section class="container">
    <h1>Creer un nouvel ingrédient</h1>

    {{ include('ingredient/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('ingredient_index') }}">retour à la liste</a>
</section>
{% endblock %}
