{% extends 'base.html.twig' %}

{% block title %}Nouvelle Recette{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/crud.css')}}">
{% endblock %}

{% block body %}


<section class="container">
    <h1>Creer une nouvelle Recette</h1>

    {{ include('recette/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('recette_index') }}">retour à la liste</a>
</section>
{% endblock %}
