{% block body %}

<div class="example-wrapper">
    <h1>Espace ADMIN {{ controller_name }}! ✅</h1>

   
    <ul>
        <li><code><a href="{{ 'admin/recette' }}">Gerer les recettes</a></code></li>
        <li><code><a href="{{ 'admin/ingredient' }}">Gerer les ingrédients</a></code></li>
    </ul>
</div>
{% endblock %}