{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/admin.css')}}">
{% endblock %}
{% block body %}

<div class="admin">
    <h1>Espace ADMIN  </h1>
       <div class="adminRecette"> 
      <button class="bRecette"> <a href="{{ 'admin/recette' }}">Gerer les recettes</a></button>
       </div>

       <div class="adminIngredient">  
      <button class="bIngredient">  <a href="{{ 'admin/ingredient' }}">Gerer les ingrédients</a></button>
       </div>
   
</div>


{% endblock %}