{% extends 'base.html.twig' %}

{% block title %}Cook And Cool{% endblock %}

{% block body %}
        <section class="sectionCreerMenu">
                <input id="button-accueil" type="button" value="CRÉEZ VOS MENUS"
                onclick="window.location.href = '{{ url('menu_jours') }}'" />
        </section>
{% endblock %}
