{% extends 'base.html.twig' %}

{% block title %}Cook And Cool{% endblock %}

{% block main %}
<main class="main-accueil">
        <section class="sectionCreerMenu">
                <input id="button-accueil" type="button" value="CRÉEZ VOS MENUS"
                onclick="window.location.href = '{{ url('menu_jours') }}'" />
        </section>
        <section class="copyright">
                <p>Copyright &copy; 2020 cook&cool.fr - Tous droits réservés - <a class="mentions-legales-link" href="#">Mentions légales</a><p>
        </section>
</main>
{% endblock %}
