{% extends 'base.html.twig' %}

{% block title %}Liste course{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/listeCourse.css')}}">
{% endblock %}
{% block body %}
<script>
for (i=0; i<8; i++) {
    window["ingredientsdejeuner"+i]=window.localStorage.getItem("idRecette - dejeuner - "+i);
}
</script>
    <div class="header-liste-course">
        <h2 class="titre-liste-course">Votre liste</h2>
        <a class="text-print" href="#" onclick="window.print()">Imprimer<img class="icon-print"src="../../public/assets/img/iconPng/print-grey.png" alt="imprimer"></a>
    </div>

    <script src="{{asset('assets/js/liste.js')}}"> </script>
        <script>
            document.write(codeHTML);
        </script>
{% endblock %}
{% block javascripts %}

{% endblock %}