
.categorieL1 {
    display: flex;
    justify-content: center;
    align-items: center;  
    max-width: 100%;
}

.bgSize {
    background-size: cover;
    background-position: center;
    height: 20rem;
    margin: 20px 10px;
    border-radius: 10px;
    width: 90%;
}
h2 {
    color: rgb(208, 209, 209);
    background-color: rgba(223, 238, 238, 0.3);
    padding: 25px;
    text-align: center;
    font-size: 40px;
}
.titreCategorie {
    font-size: 50px;
    margin-top: 25px;
}
/* categorie plats */

.categorieViandes {
    background-image: url('../img/categoriePlatsImg/viande01.webp');
   
}
.categoriePoissons {
    background-image: url('../img/categoriePlatsImg/poisson03.webp');
   
}
.categorieVegan {
    background-image: url('../img/categoriePlatsImg/vegan01.webp');
 
}
.categorieGastronomique {
    background-image: url('../img/categoriePlatsImg/poisson02.webp');
   
}
.categorieTraditionnel {
    background-image: url('../img/categoriePlatsImg/cuisineTraditionnel02.webp');
    
}
.categorieMonde {
    background-image: url('../img/categoriePlatsImg/cuisineDuMonde02.webp');
   
}
/* categorie entrée */

.categorieSalades {
    background-image: url('../img/categoriePlatsImg/EntréeSalade01.webp');
   
}
.categorieSoupes {
    background-image: url('../img/categoriePlatsImg/EntréeSoupe01.webp');
   
}
.categorieEntréesFroides {
    /* Changer image */
    background-image: url('../img/categoriePlatsImg/vegan01.webp');
 
}
.categorieEntréesChaudes {
    /* Changer image */
    background-image: url('../img/categoriePlatsImg/poisson02.webp');
   
}
.categorieRaviolisNems {
    background-image: url('../img/categoriePlatsImg/EntréeRaviolisNems03.webp');
    
}
.categorieVeganE {
    background-image: url('../img/categoriePlatsImg/EntréeVegan.webp');
   
}

/* .categorieGastronomiqueE {
    /* Changer image */
  /*  background-image: url('../img/categoriePlatsImg/cuisineDuMonde02.webp');
   
} */


/* Categorie Desserts */

.categorieGateaux {
    background-image: url('../img/categoriePlatsImg/dessertGateaux01.webp');
   
}
.categorieSaladeDeFruits {
    background-image: url('../img/categoriePlatsImg/dessertSaladeFruits01.webp');
   
}
.categorieCrèpes {
    background-image: url('../img/categoriePlatsImg/dessertCrèpes01.webp');
 
}
.categorieDessertGlacés {
    background-image: url('../img/categoriePlatsImg/dessertGlacés01.webp.webp');
   
}
/* .categorieGastronomiqueD { */
    /* Changer image */
    /* background-image: url('../img/categoriePlatsImg/cuisineTraditionnel02.webp');
    
} */
.categorieVeganD {
    background-image: url('../img/categoriePlatsImg/dessertVegan01.webp');
   
}


/* mediaquerries smartphone*/
@media (min-width: 250px) and (max-width: 768px){
 .titreCategorie {
     font-size: 18px;
     color: rgb(36, 34, 34);
     padding-bottom: 0;
     padding-top: 2px;
     background-color: white;
     border: 1px solid rgb(221, 221, 221);
     text-transform: uppercase;
 }
.bgSize {

    background-size: cover;
        background-position: center;
        height: 7rem;
        margin: 20px 10px;
        border-radius: 10px;
        width: 90%;
        
    }
    /* .categorieViandes, .categorieViandes, */
    .categorieL1 {
        display: flex;
        justify-content: center;
        align-items: center;  
        flex-wrap: wrap;
        max-width: 100%;
    }
}