/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* REGLAGES SMARTPHONE */
header{
    background-color: #ffff;
    padding: 2px 0 5px 0;
}

.header-contact { 
    display: flex;
    align-items: center;
    height: 75px;
    max-width: 100%;
    font-size: 14px;
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    color: #C4C4C4;
    background-color: #ffffff;
    position: fixed;
    z-index: 999;
}

.titre-contact{
    font-weight: 300;
    font-size: 20px;
}

.title{
    padding-top: 25px;
    text-align: center;
}

p{
    text-align: justify;
}

.contact-form{
    background: #fff;
    margin-bottom: 5%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contact-form .form-control{
    border-radius:0.5rem;
}

.contact-form form{
    padding: 75px 0 0 0;
}

.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #31a69d;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 0.5rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #31a69d;
    border: none;
    cursor: pointer;
}

.col-md-6{
    padding: 0px 0px 0px 32px;
}

.btn{
    border: none;
    background-color: rgb(121, 171, 174);
}

#contact_message{
    height: 110px;
}









/* REGLAGES DESKTOP */
@media screen and (min-width: 1080px){
header{
    background-color: #ffff;
    padding: 2px 0 5px 0;
}

.header-contact { 
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 100%;
    font-size: 20px;
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    color: #FFFF;
    background-color: #C4C4C4;
    position: fixed;
}

.titre-contact{
    font-weight: lighter;
    font-size: 35px;
}

.contact-form{
    background: #fff;
    margin-top: 5%;
    width: 70%;
}

.contact-form .form-control{
    border-radius:0.5rem;
}

.contact-form form{
    padding: 50px 0 0 0;
}

.contact-form h3{
    margin-top: -10%;
    text-align: center;
    color: #31a69d;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 0.5rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #31a69d;
    border: none;
    cursor: pointer;
}

.col-md-6{
    padding: 0px 0px 0px 60px;
}

.container {
    background: #FFFFFF;
    width: 900px;
    margin: 5% auto;
    position: relative;
}

.container .map {
    width: 45%;
    float: left;
}

.container .text-infos {
    width: 53%;
    margin-left: 2%;
    float: left;
}

.container .text-infos .title {
    font-size: 2.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #242424;
}

.container .text-infos {
    font-size: 1em;
    font-weight: 400;
}

.title{
    margin: 0.12em 0;
}

.btn{
    border: none;
    background-color: rgb(121, 171, 174);
}
}






/* REGLAGES TABLETTE */
header{
    background-color: #ffff;
    padding: 2px 0 5px 0;
}
@media (min-width: 768px) and (max-width: 1080px){
.titre-contact{
    font-weight: 300;
    font-size: 25px;
    padding-top: 55px;
}

.header-contact { 
    display: flex;
    align-items: center;
    height: 50px;
    max-width: 100%;
    font-size: 14px;
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    color: #C4C4C4;
    background-color: #ffffff;
    position: fixed;
    z-index: 999;
}

.contact-form{
    background: #fff;
    width: 100%;
}

.contact-form .form-control{
    border-radius:0.5rem;
}

.contact-form form{
    padding: 160px 0 0 0;
}

.contact-form h3{
    text-align: center;
    color: #31a69d;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 0.5rem;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit{
    width: 50%;
    border-radius: 1rem;
    color: #fff;
    background-color: #31a69d;
    border: none;
    cursor: pointer;
}

.col-md-6{
    padding: 0px 0px 0px 40px;
}

.btn{
    border: none;
    background-color: rgb(121, 171, 174);
}



}