/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


form {
    display: flex;
    flex-direction: column;
}        
table thead {
    background-color: #eeeeee;
}
table td {
    border:1px solid #cccccc;
    width: fit-content;
    padding:0.5rem;
}
table td button {
    display: inline-block;
    width: calc(100% - 1rem); /* remove 2x margin */
}