h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 25px;
    text-align: center;
    font-size: 40px;
}


.typeDiv {
    background-image: url('../img/typeImg/entrée04.webp');
    height: 25rem;
    margin: 5px auto;
    object-fit: cover;
    border-radius: 10px;
    width: 90%;
}




/* mediaquerries */
