/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* REGLAGES SMARTPHONE */
header{
    background-color: #ffff;
    padding: 2px 0 17px 0;
}

.container-blanc{
    display: flex;
    align-items: center;
}

.container-recette-jour{
    display: flex;
    align-items: center;
}

#nomdejeuner1, #nomdejeuner2,
#nomdejeuner3, #nomdejeuner4,
#nomdejeuner5, #nomdejeuner6,
#nomdejeuner7{
    text-align: right;
    padding-right: 15px;
    color:#3f3f3f;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
}

#platdejeuner1, #platdejeuner2,
#platdejeuner3, #platdejeuner4,
#platdejeuner5, #platdejeuner6,
#platdejeuner7{
    width: 100%;
}

#nomdiner1, #nomdiner2,
#nomdiner3, #nomdiner4,
#nomdiner5, #nomdiner6,
#nomdiner7{
    text-align: right;
    padding-right: 15px;
    color:#3f3f3f;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
}

#platdiner1, #platdiner2,
#platdiner3, #platdiner4,
#platdiner5, #platdiner6,
#platdiner7{
    width: 100%;
}

.contrainer-jour-menu{
    width: 100%;
    margin: auto;
}

.blanc {
    padding: 50px;
    width: 100%;
    min-height: 20vh;
}

.cyan {
    background-color: #5ED3D3;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 5vh;
    display: table;
}

.jour {
    font-size: 17px;
    vertical-align: middle;
    display: table-cell;
    font-family: 'Roboto', 'sans-serif';
}

.repas {
    padding-left: 3vw;
    font-family: 'Roboto', 'sans-serif';
}

.logo {
    margin: 0px 2.5vw;
    width: 30px;
    padding : 5px;
}

.gris {
    background-color: #C7C7C7;
    color: white;
    width: 100%;
    display: table;
    min-height: 3vh;
}

.header-print-course{ 
    display:inline-block;
    height: 45px;
    width: 350px;
    font-size: 17px;
    font-family: 'Roboto', 'sans-serif';
    text-align: right;
    margin-top: 200px;
    margin-left: 69.5em;
    color: #C4C4C4;
    position: fixed;
    right: 0;
    top: -21%;
}

.listeCourses{ 
    display: none;
}


@media screen and (max-width: 767px){
    .listeCourses-smartphone{
        display: none;
    }
}


.listeCourses-smartphone{
    display:inline-block;
    width: 90%;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    margin-top: 40px;
    margin-left: 18px;
    margin-right: 15px;
    margin-bottom: 25px;
    color: #C4C4C4;
    top: 12%;
}

.icon-print{
    width: 25px;
    margin-left: 20px;
}

.icon-print, a{
    position: relative;
    color: #C4C4C4;
}

.text-print{
    margin-right: 35px;
}

.listeCourses {
    text-align: center;
}








@media screen and (min-width: 1568px){
    .listeCourses{ 
        display:inline-block;
        height: 45px;
        width: 350px;
        font-size: 17px;
        font-weight: 300;
        font-family: 'Roboto', 'sans-serif';
        text-align: right;
        margin-top: 200px;
        margin-left: 69.5em;
        color: #C4C4C4;
        position: fixed;
        right: 5.9rem;
        top: 12%;
    }

    .listeCourses-smartphone{
        display: none;
    }
}








/* REGLAGES DESKTOP */
@media screen and (min-width: 1080px){
.container-blanc{
    display: flex;
    align-items: center;
}

.container-recette-jour{
    display: flex;
    align-items: center;
}

#nomdejeuner1, #nomdejeuner2,
#nomdejeuner3, #nomdejeuner4,
#nomdejeuner5, #nomdejeuner6,
#nomdejeuner7{
    text-align: right;
    padding-right: 25px;
    color:#3f3f3f;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
}

#platdejeuner1, #platdejeuner2,
#platdejeuner3, #platdejeuner4,
#platdejeuner5, #platdejeuner6,
#platdejeuner7{
    width: 100%;
}

#nomdiner1, #nomdiner2,
#nomdiner3, #nomdiner4,
#nomdiner5, #nomdiner6,
#nomdiner7{
    text-align: right;
    padding-right: 25px;
    color:#3f3f3f;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
}

#platdiner1, #platdiner2,
#platdiner3, #platdiner4,
#platdiner5, #platdiner6,
#platdiner7{
    width: 100%;
}

.contrainer-jour-menu{
    width: 50%;
    margin: auto;
}

.cyan-border-radius-jour-premier .cyan{
    border-radius: 10px 10px 0 0 ;
}

.blanc {
    padding: 50px;
    width: 100%;
    min-height: 20vh;
}

.cyan {
    background-color: #5ED3D3;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 5vh;
    display: table;
}

.jour {
    font-size: 27px;
    vertical-align: middle;
    display: table-cell;
    font-family: 'Roboto', 'sans-serif';
}

.repas {
    padding-left: 3vw;
    font-family: 'Roboto', 'sans-serif';
}

.logo {
    margin: 0px 2.5vw;
    width: 30px;
    padding : 5px;
}

.gris {
    background-color: #C7C7C7;
    color: white;
    width: 100%;
    display: table;
    min-height: 3vh;
}

.header-print-course{ 
    display:inline-block;
    height: 45px;
    width: 350px;
    font-size: 20px;
    font-family: 'Roboto', 'sans-serif';
    text-align: right;
    margin-top: 200px;
    margin-left: 69.5em;
    color: #C4C4C4;
    position: fixed;
    right: 5.9rem;
    top: 2.8%;
}

.listeCourses-smartphone{
    display: none;
}

.icon-print{
    width: 50px;
    margin-left: 20px;
}

.icon-print, a{
    position: relative;
    color: #C4C4C4;
}

.text-print{
    margin-right: 0;
}
}






/* REGLAGES TABLETTE */
@media (min-width: 768px) and (max-width: 1079px){
header{
    background-color: #ffff;
    padding: 2px 0 17px 0;
}

.container-blanc{
    display: flex;
    align-items: center;
}

.container-recette-jour{
    display: flex;
    align-items: center;
}

#nomdejeuner1, #nomdejeuner2,
#nomdejeuner3, #nomdejeuner4,
#nomdejeuner5, #nomdejeuner6,
#nomdejeuner7{
    text-align: right;
    padding-right: 25px;
    color:#3f3f3f;
    font-size: 21px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
}

#platdejeuner1, #platdejeuner2,
#platdejeuner3, #platdejeuner4,
#platdejeuner5, #platdejeuner6,
#platdejeuner7{
    width: 100%;
}

#nomdiner1, #nomdiner2,
#nomdiner3, #nomdiner4,
#nomdiner5, #nomdiner6,
#nomdiner7{
    text-align: right;
    padding-right: 25px;
    color:#3f3f3f;
    font-size: 21px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
}

#platdiner1, #platdiner2,
#platdiner3, #platdiner4,
#platdiner5, #platdiner6,
#platdiner7{
    width: 100%;
}

.contrainer-jour-menu{
        width: 100%;
        margin: auto;
}

.blanc {
    padding: 50px;
    width: 100%;
    min-height: 20vh;
}

.cyan {
    background-color: #5ED3D3;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 5vh;
    display: table;
}

.jour {
    font-size: 23px;
    vertical-align: middle;
    display: table-cell;
    font-family: 'Roboto', 'sans-serif';
}

.repas {
    padding-left: 5vw;
    font-family: 'Roboto', 'sans-serif';
}

.logo {
    margin: 0px 5vw;
    width: 30px;
    padding : 5px;
}

.gris {
    background-color: #C7C7C7;
    color: white;
    width: 100%;
    display: table;
    min-height: 3vh;
}

.header-print-course{ 
    display:inline-block;
    height: 45px;
    width: 350px;
    font-size: 20px;
    font-family: 'Roboto', 'sans-serif';
    text-align: right;
    margin-top: 110px;
    margin-left: 20.7em;
    color: #C4C4C4;
    position: fixed;
    right: 0;
    top: 0;
}

.listeCourses{ 
    display: none;
}

.listeCourses-smartphone{
    display:inline-block;
    width: 90%;
    font-size: 17px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    margin-top: 15px;
    margin-left: 41px;
    margin-right: 15px;
    margin-bottom: 25px;
    color: #C4C4C4;
    top: 12%;
/*     display: none; */
}

.icon-print{
    width: 50px;
    margin-left: 20px;
}

.icon-print, a{
    position: relative;
    color: #C4C4C4;
}

.text-print{
    margin-right: 50px;
}
}