/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


.cyan {
    background-color: #5ED3D3;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 5vh;
    display: table;
}

.jour {
    vertical-align: middle;
    display: table-cell;
    font-family: 'Roboto', 'sans-serif';
}

.repas {
    padding-left: 3vw;
    font-family: 'Roboto', 'sans-serif';
}

.droite {
    text-align: right;
}

.logo {
    margin: 0px 5vw;
    width: 30px;
    padding : 5px;
}

.gauche {
    text-align: left;
}

.gris {
    background-color: #C7C7C7;
    color: white;
    width: 100%;
    display: table;
    min-height: 3vh;
}

.blanc {
    width: 100%;
    min-height: 20vh;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
    font-size: xx-large;
}