/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* REGLAGES SMARTPHONE */
header{
    background-color: #ffff;
    padding: 2px 0 17px 0;
}

.container-blanc{
    display: flex;
    align-items: center;
}

.container-recette-jour{
    display: flex;
    align-items: center;
}

#nomdejeuner1, #nomdejeuner2,
#nomdejeuner3, #nomdejeuner4,
#nomdejeuner5, #nomdejeuner6,
#nomdejeuner7{
    text-align: right;
    padding-right: 15px;
    color:#3f3f3f;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
}

#platdejeuner1, #platdejeuner2,
#platdejeuner3, #platdejeuner4,
#platdejeuner5, #platdejeuner6,
#platdejeuner7{
    width: 100%;
}

#nomdiner1, #nomdiner2,
#nomdiner3, #nomdiner4,
#nomdiner5, #nomdiner6,
#nomdiner7{
    text-align: right;
    padding-right: 15px;
    color:#3f3f3f;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
}

#platdiner1, #platdiner2,
#platdiner3, #platdiner4,
#platdiner5, #platdiner6,
#platdiner7{
    width: 100%;
}

.contrainer-jour-menu{
    width: 100%;
    margin: auto;
}

.blanc {
    padding: 50px;
    width: 100%;
    min-height: 20vh;
}

.cyan {
    background-color: #5ED3D3;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 5vh;
    display: table;
}

.jour {
    font-size: 17px;
    vertical-align: middle;
    display: table-cell;
    font-family: 'Roboto', 'sans-serif';
}

.repas {
    padding-left: 3vw;
    font-family: 'Roboto', 'sans-serif';
}

.logo {
    margin: 0px 2.5vw;
    width: 30px;
    padding : 5px;
}

.gris {
    background-color: #C7C7C7;
    color: white;
    width: 100%;
    display: table;
    min-height: 3vh;
}

.header-print-course{ 
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 100%;
    font-size: 13px;
    font-family: 'Roboto', 'sans-serif';
    text-align: right;
    top: 0px;
    padding-top: 65px;
    padding-right: 35px;
    color: #C4C4C4;
    position: fixed;
    z-index: 999;
}

.icon-print{
    width: 25px;
    margin-left: 20px;
}

.icon-print, a{
    color: #C4C4C4;
}





/* REGLAGES DESKTOP */
@media screen and (min-width: 1080px){
.container-blanc{
    display: flex;
    align-items: center;
}

.container-recette-jour{
    display: flex;
    align-items: center;
}

#nomdejeuner1, #nomdejeuner2,
#nomdejeuner3, #nomdejeuner4,
#nomdejeuner5, #nomdejeuner6,
#nomdejeuner7{
    text-align: right;
    padding-right: 25px;
    color:#3f3f3f;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
}

#platdejeuner1, #platdejeuner2,
#platdejeuner3, #platdejeuner4,
#platdejeuner5, #platdejeuner6,
#platdejeuner7{
    width: 100%;
}

#nomdiner1, #nomdiner2,
#nomdiner3, #nomdiner4,
#nomdiner5, #nomdiner6,
#nomdiner7{
    text-align: right;
    padding-right: 25px;
    color:#3f3f3f;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
}

#platdiner1, #platdiner2,
#platdiner3, #platdiner4,
#platdiner5, #platdiner6,
#platdiner7{
    width: 100%;
}

.contrainer-jour-menu{
    width: 50%;
    margin: auto;
}

.cyan-border-radius-jour-premier .cyan{
    border-radius: 10px 10px 0 0 ;
}

.blanc {
    padding: 50px;
    width: 100%;
    min-height: 20vh;
}

.cyan {
    background-color: #5ED3D3;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 5vh;
    display: table;
}

.jour {
    font-size: 27px;
    vertical-align: middle;
    display: table-cell;
    font-family: 'Roboto', 'sans-serif';
}

.repas {
    padding-left: 3vw;
    font-family: 'Roboto', 'sans-serif';
}

.logo {
    margin: 0px 2.5vw;
    width: 30px;
    padding : 5px;
}

.gris {
    background-color: #C7C7C7;
    color: white;
    width: 100%;
    display: table;
    min-height: 3vh;
}

.header-print-course{ 
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 100%;
    font-size: 20px;
    font-family: 'Roboto', 'sans-serif';
    text-align: right;
    padding-top: 254px;
    padding-right: 95px;
    color: #C4C4C4;
    position: fixed;
    z-index: 999;
}

.icon-print{
    width: 50px;
    margin-left: 20px;
}

.icon-print, a{
    color: #C4C4C4;
}
}





/* REGLAGES TABLETTE */
@media (min-width: 768px) and (max-width: 1080px){
header{
    background-color: #ffff;
    padding: 2px 0 17px 0;
}

.container-blanc{
    display: flex;
    align-items: center;
}

.container-recette-jour{
    display: flex;
    align-items: center;
}

#nomdejeuner1, #nomdejeuner2,
#nomdejeuner3, #nomdejeuner4,
#nomdejeuner5, #nomdejeuner6,
#nomdejeuner7{
    text-align: right;
    padding-right: 25px;
    color:#3f3f3f;
    font-size: 21px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
}

#platdejeuner1, #platdejeuner2,
#platdejeuner3, #platdejeuner4,
#platdejeuner5, #platdejeuner6,
#platdejeuner7{
    width: 100%;
}

#nomdiner1, #nomdiner2,
#nomdiner3, #nomdiner4,
#nomdiner5, #nomdiner6,
#nomdiner7{
    text-align: right;
    padding-right: 25px;
    color:#3f3f3f;
    font-size: 21px;
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
}

#platdiner1, #platdiner2,
#platdiner3, #platdiner4,
#platdiner5, #platdiner6,
#platdiner7{
    width: 100%;
}

.contrainer-jour-menu{
        width: 100%;
        margin: auto;
}

.blanc {
    padding: 50px;
    width: 100%;
    min-height: 20vh;
}

.cyan {
    background-color: #5ED3D3;
    color: white;
    text-align: center;
    width: 100%;
    min-height: 5vh;
    display: table;
}

.jour {
    font-size: 23px;
    vertical-align: middle;
    display: table-cell;
    font-family: 'Roboto', 'sans-serif';
}

.repas {
    padding-left: 5vw;
    font-family: 'Roboto', 'sans-serif';
}

.logo {
    margin: 0px 5vw;
    width: 30px;
    padding : 5px;
}

.gris {
    background-color: #C7C7C7;
    color: white;
    width: 100%;
    display: table;
    min-height: 3vh;
}

.header-print-course{ 
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 100%;
    font-size: 20px;
    font-family: 'Roboto', 'sans-serif';
    text-align: right;
    top: 0px;
    padding-top: 135px;
    padding-right: 55px;
    color: #C4C4C4;
    position: fixed;
    z-index: 999;
}

.icon-print{
    width: 50px;
    margin-left: 20px;
}

.icon-print, a{
    color: #C4C4C4;
}
}