.logoHeader {
    max-width: 300px;
}

.texte {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}

h3 {
    font-style: normal;
}
/* footer du main (icone navigation) */
main {
    max-height: 73vh;
    overflow-y: scroll;

}
a {
    text-decoration: none;
    color: black;
}

td {
    padding : 10px;
    font-style: italic;
}

.etape {
    font-size: 20px;
    padding-bottom: 2%;
}

.gras {
    font-weight: bold;
}

.centrer {
    margin: auto;
}

.middle {
    text-align: center;
}

.banniere {
    background-size: cover;
    min-height: 160px;
    margin-top: 2%;
    position: relative;
}

#titre {
    text-align: center;
    color: rgb(186, 232, 232);
    background-color: rgba(0, 0, 0, 0.2);
    padding-bottom: 2%;
}

.commande {
    position: sticky;
    top: 0px;
}

.commandesTexte {
    vertical-align: center;
}

.ligneBlanche {
    background-color: white;
}

.commandesTop {
    width: 60px;
}

.commandesBottom {
    width: 40px;
}

table {
    border-spacing: 0px;
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}

.commandesBas {
    width: 5%;
}

.desktopDetails {
    display: none;
}

@media screen and (min-width: 640px) 
{
    .logoHeader {
        width: 350px;
        margin: auto;
    }
    .texte { 
        font-size: 30px;
    }

    .banniere {
        min-height: 250px;
    }
}

    @media screen and (min-width: 450px) 
{
    .desktopDetails {
        display: table-cell;
    }
}