/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* REGLAGES SMARTPHONE */
header{
    background-color: #ffff;
    padding: 2px 0 5px 0;
}

.header-liste-stock { 
    display: flex;
    align-items: center;
    height: 50px;
    max-width: 100%;
    font-size: 14px;
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    color: #C4C4C4;
    background-color: #ffffff;
    position: fixed;
    z-index: 999;
}

.titre-liste-stock{
    font-weight: 300;
    font-size: 20px;
    padding-top: 25px;
}

.icon-print{
    width: 25px;
}

.icon-print, a{
    color: #ffff;
}

.text-print{
    display: flex;
    margin-left: 50px;
}

.icon-print{
    margin-left: 20px;
}

#affichage-liste-stock{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-top: 120px;
    margin-left: 35px;
    margin-bottom: 30px;
}

.affichage-liste-stock-item{
    margin-top: 65px;
    margin-left: 35px;
    margin-bottom: 30px;
    color: #000000;
    font-size: 14px;
    font-family: 'Roboto', 'sans-serif';
}



/* REGLAGES DESKTOP */
@media screen and (min-width: 1080px){
.header-liste-stock { 
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 100%;
    font-size: 20px;
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    color: #C4C4C4;
    background-color: #ffffff;
    position: fixed;
    z-index: 999;
}

.titre-liste-stock{
    font-weight: 300;
    font-size: 35px;
}
}



/* REGLAGES TABLETTE */
@media (min-width: 768px) and (max-width: 1080px){
header{
        background-color: #ffff;
        padding: 2px 0 5px 0;
}

.titre-liste-stock{
    font-weight: 300;
    font-size: 25px;
    padding-top: 55px;
}

.header-liste-stock { 
    display: flex;
    align-items: center;
    height: 50px;
    max-width: 100%;
    font-size: 14px;
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    color: #C4C4C4;
    background-color: #ffffff;
    position: fixed;
    z-index: 999;
}
}