html, body {
/*     font-size:14px; */
    width:100%;
    padding:0;
    margin:0;
/*     text-align: center; */
}

* {
    margin: 0px;
    padding: 0px;
    width:100%;
    box-sizing: border-box;
}

/* header */

.logoHeader{
    width: 150px;
    margin-top: 15px;
    margin-left: 12px;
}

.iconReglageSmartphone{
    margin-top: 15px;
    margin-right: 25px;
    width: 50px;
}

.iconReglageDesktop{
    display: none;
}

.headerMenuIcon {
    display: none;
}


header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: baseline ;
    padding: 2px;
    float: right;
    list-style: none;
    width: 80px;
    margin-right: 2rem;
}
nav ul li {
    padding:0.5rem;
}

a {
    text-decoration: none;
    color: rgb(121, 171, 174);
}

a:hover{
    color: rgb(186, 232, 232);
}

.footerMiseEnPage a{
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
}

.footerMiseEnPage a:hover{
    color: rgb(49, 166, 158);
}


/* MAIN */
#button-accueil{
    cursor: pointer;
    border: none;
    width: 200px;
    height: 200px;
    border-radius:50%;
    background: #F2F2F2;
    background-color: rgb(186, 232, 232);
    text-decoration:none;
    color:#ffffff;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 17px;
    box-shadow: inset 0 0 15px rgba(66, 66, 66, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(58, 58, 58, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    transition: box-shadow 399ms ease-in-out;
    margin : auto;
}

#button-accueil:hover{
    box-shadow: inset 7px 7px 15px rgba(66, 66, 66, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
    color:#676767;
}

.sectionCreerMenu, .button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionCreerMenu {
    width: 100%;
    height: 70vh;
}






/* FOOTER */
footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    font-family: 'SukhumvitSet-Light', 'sans-serif';
    font-weight: lighter;
    text-align: center;
    padding: 2rem;
}

.footerMenu {
    display: flex;
    justify-content: center;
}
.footerMenuIcon {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
footer nav ul { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 12px;
    width: 80%;
    list-style: none;
    font-family: 'SukhumvitSet-Light', 'sans-serif';
}

.footerMiseEnPage {
    width: 65px;
}








@media screen and (min-width: 1080px) {
    .sectionCreerMenu {
        width: 100%;
        height: 70vh;
    }

    #button-accueil{
        width:300px;
        height:300px;
        font-size: 25px;
        letter-spacing: 2px;
    }

    .logoHeader{
        width: 350px;
        margin-top: 30px;
        margin-right: 15px;
    }

    .iconReglageDesktop{
        margin-top: 30px;
        margin-right: 25px;
    }

    .iconReglageSmartphone{
        display: none;
    }

    footer {
        display: none;
    }

    header {
        display: block;
    }

    .headerMenuIcon {
        display: flex;
        padding: 2rem;
        margin-top: 30px;
        margin-right: 50px;
        align-items: flex-end;
        font-family: 'SukhumvitSet-Light', 'sans-serif';
    }

    .footerMiseEnPage {
        width: 150px;
    }

    #iconMenus{
        margin-left: 25px;
    }

    header nav ul {
        display: flex;
        justify-content: flex-end;
        float: right;
        list-style: none;
        width: 80px;
    }
    nav ul li {
        padding:0.5rem;
    }
    
    #iconMenus{
        padding: 0 35px;
    }
    
    #iconListes{
        padding: 0;
    }
    
    #iconStock{
        padding: 0 0 0 35px;
    }

}




@media (min-width: 768px) and (max-width: 1080px){
    .logoHeader{
        width: 250px;
        margin-top: 30px;
        margin-right: 15px;
    }

    .iconReglageSmartphone{
        margin-top: 35px;
        margin-right: 50px;
        width: 50px;
    }

    .footerMiseEnPage {
        width: 65px;
    }

    .footerMenuIcon {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

}