/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
}

* {
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
}



/* REGLAGES SMARTPHONE */
header{
    background-color: #ffff;
    padding-top: 2px;
}

/* header */
.logoHeader {
    width: 150px;
    margin-top: 15px;
    margin-left: 12px;
}

.iconReglageSmartphone {
    margin-top: 15px;
    margin-right: 25px;
    width: 45px;
}

.headerMenuIcon {
    display: none;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 2px;
    float: right;
    list-style: none;
    width: 80px;
    margin-right: 2rem;
}

nav ul li {
    padding: 0.5rem;
}

a {
    font-weight: 300;
    font-family: 'Roboto', 'sans-serif';
}

a:hover {
    color: rgb(121, 171, 174);
    text-decoration: none;
}


/* main */
#button-accueil {
    cursor: pointer;
    border: none;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #F2F2F2;
    background-color: rgb(186, 232, 232);
    text-decoration: none;
    color: #676767;
    letter-spacing: 2px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    font-size: 17px;
    box-shadow: inset 0 0 15px rgba(66, 66, 66, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(58, 58, 58, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    transition: box-shadow 399ms ease-in-out;
    margin: auto;
    outline: 0;
}

#button-accueil:hover {
    box-shadow: inset 7px 7px 15px rgba(66, 66, 66, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.sectionCreerMenu,
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionCreerMenu {
    width: 100%;
    height: 70vh;
}

/* footer du main (icone navigation) */
main {
    max-height: 73vh;
    overflow-y: scroll;
}

/* footer */
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-family: 'Roboto', 'sans-serif';
    font-weight: lighter;
    text-align: center;
    background-color: #ffffff;
}

.footerMenu {
    display: flex;
    justify-content: center;
}

.footerMenuIcon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

footer nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 7px;
    width: 80%;
    list-style: none;
    font-family: 'Roboto', 'sans-serif';
}

img.footNavImg {
    max-height: 35px;
    width: initial;
    padding-bottom: 5px;
    text-align: center;
}

.footerMiseEnPage {
    width: 65px;
}

.footerMiseEnPage a {
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
}

.footerMiseEnPage a:hover {
    color: rgb(49, 166, 158);
}

#iconMenus {
    text-align: center;
}

#iconListes {
    text-align: center;
}

#iconStock {
    text-align: center;
}

#iconContact {
    text-align: center;
}


@media screen and (max-width: 768px) {
.copyright{
    display: none;
}
}




/* REGLAGES DESKTOP */
@media screen and (min-width: 1080px) {
    .sectionCreerMenu {
        width: 100%;
        height: 70vh;
    }

    #button-accueil {
        width: 300px;
        height: 300px;
        font-size: 25px;
        letter-spacing: 2px;
    }

    .logoHeader {
        width: 350px;
        margin-top: 30px;
        margin-right: 15px;
    }

    .iconReglageSmartphone {
        display: none;
    }

    footer {
        display: none;
    }

    main {
        overflow-y: initial;
    }

    header {
        display: block;
    }

    .headerMenuIcon {
        display: flex;
        padding: 2rem;
        margin-top: 30px;
        margin-right: 50px;
        align-items: flex-end;
        font-family: 'Roboto', 'sans-serif';
    }

    .headerMiseEnPage {
        width: 150px;
    }

    .headerMiseEnPage a {
        color: rgb(0, 0, 0);
    }

    .headerMiseEnPage a:hover {
        color: rgb(49, 166, 158);
    }

    #iconMenus {
        margin-left: 25px;
    }

    header nav ul {
        display: flex;
        justify-content: flex-end;
        float: right;
        list-style: none;
        width: 80px;
    }

    nav ul li {
        padding: 0.5rem;
    }

    #iconMenus {
        padding: 0 15px;
        text-align: center;
    }

    #iconListes {
        padding: 0 15px;
        text-align: center;
    }

    #iconStock {
        padding: 0 15px;
        text-align: center;
    }

    #iconContact {
        padding: 0 0 0 7px;
        text-align: center;
    }

    img.headNavImg {
        max-height: 50px;
        width: initial;
        padding-bottom: 5px;
    }

    .copyright{
        text-align: center;
        font-weight: 300;
        margin-top: 50px;
        font-family: 'Roboto', 'sans-serif';
    }

    .mentions-legales-link{
        color: #000000;
    }
}



/* REGLAGES TABLETTE */
@media (min-width: 768px) and (max-width: 1080px) {
    .logoHeader {
        width: 350px;
        margin-top: 30px;
        margin-right: 15px;
    }

    .iconReglageSmartphone {
        margin-top: 35px;
        margin-right: 50px;
        width: 50px;
    }

    .footerMiseEnPage {
        width: 65px;
    }

    .footerMenuIcon {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    footer nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        font-size: 12px;
        width: 80%;
        list-style: none;
        font-family: 'Roboto', 'sans-serif';
    }

    img.footNavImg {
        max-height: 45px;
        width: initial;
        padding-bottom: 5px;
        text-align: center;
    }

    .copyright{
        display: none;
    }
}