html, body {
    font-size:14px;
    width:100%;
    padding:0;
    margin:0;
    text-align: center;
}

* {
    margin: 0px;
    padding: 0px;
    width:100%;
    box-sizing: border-box;
}

/* header */
header {
    overflow: hidden;
    display: flex;
flex-direction: column;
    align-items: center;
}

.logoHeader{
    width: 350px;
}


header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: baseline ;
    padding: 2px;
    float: right;
    list-style: none;
    width: 80px;
    margin-right: 2rem;
}
nav ul li {
    padding:0.5rem;
}

a {
    text-decoration: none;
    color: bgb(121, 171, 174);
}

a:hover{
    color: #FFFF;
    text-shadow: 1px 2px rgb(61, 58, 58);
}


/* MAIN */


#button-accueil{
    cursor: pointer;
    border: none;
    width:300px;
    height:300px;
    border-radius:50%;
    background: #F2F2F2;
    text-decoration:none;
    color:#0B0B0B;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    box-shadow: inset 0 0 15px rgba(66, 66, 66, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(58, 58, 58, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    transition: box-shadow 399ms ease-in-out;
}


.sectionCreerMenu, .button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionCreerMenu {
    width: 100%;
    height: 90vh;
}


#button-accueil:hover{
    box-shadow: inset 7px 7px 15px rgba(66, 66, 66, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
    color:#676767;
}


/* FOOTER */
footer{
    
    position: absolute;
    width: 100%;
    bottom: 0;
    font-family: 'SukhumvitSet-Light', 'sans-serif';
    font-weight: lighter;
    text-align: center;
    padding:2rem;
}

.footerMenu {
    display: flex;
    justify-content: center;
}
.footerMenuIcon {
    display: flex;
    justify-content: center;
    width: 100%;
}
footer nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-size: 21px;
    width: 80%;
    list-style: none;
    font-family: 'SukhumvitSet-Light', 'sans-serif';
}
.footerMiseEnPage {
    
    width: 80px;
}
footer nav {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
}
