/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* REGLAGES SMARTPHONE */
h2{
    padding: 8px;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    background-color: rgba(255, 255, 255, 0.906);
}

a{
    color:#3f3f3f;
}

.typeDiv1 {
    background-image: url('../img/typeImg/entrée04.webp');
    height: 21vh;
    margin: 0 auto;
    margin-top: 3rem;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 93%;
}

.typeDiv2 {
    background-image: url('../img/typeImg/plat02.webp');
    height: 21vh;
    margin: 35px auto;
    background-size: cover;
    border-radius: 10px;
    width: 93%;
}

.typeDiv3 {
    background-image: url('../img/typeImg/dessert02.webp');
    height: 21vh;
    margin: 0px auto;
    margin-top: 35px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 93%;
}









/* REGLAGES DESKTOP */
@media screen and (min-width: 1080px){
h2{
    padding: 24px;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    background-color: rgba(255, 255, 255, 0.906);
}

.container-categorie-item{
    display: flex;
    margin-top: 150px;
}

.container-categorie{
/*     margin: 23px; */
}

.typeDiv1 {
    background-image: url('../img/typeImg/entrée04.webp');
    height: 35vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 93%;
}

.typeDiv2 {
    background-image: url('../img/typeImg/plat02.webp');
    height: 35vh;
    margin: 0;
    background-size: cover;
    border-radius: 10px;
    width: 93%;
}

.typeDiv3 {
    background-image: url('../img/typeImg/dessert02.webp');
    height: 35vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 93%;
}
}



/* REGLAGES TABLETTE */
@media (min-width: 768px) and (max-width: 1080px){
h2{
    padding: 24px;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    background-color: rgba(255, 255, 255, 0.906);
}

a{
    color:#3f3f3f;
}

.typeDiv1 {
    background-image: url('../img/typeImg/entrée04.webp');
    height: 27vh;
    margin: 0 auto;
    margin-top: 3rem;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 93%;
}

.typeDiv2 {
    background-image: url('../img/typeImg/plat02.webp');
    height: 27vh;
    margin: 35px auto;
    background-size: cover;
    border-radius: 10px;
    width: 93%;
}

.typeDiv3 {
    background-image: url('../img/typeImg/dessert02.webp');
    height: 27vh;
    margin: 0px auto;
    margin-top: 35px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 93%;
}
}