{% extends 'base.html.twig' %}

{% block title %}Cook And Cool{% endblock %}

{% block body %}
  <main>
        <section class="sectionCreerMenu">
            <input id="button-accueil" type="button" value="CREER UN MENU"
                onclick="window.location.href = '{{ url('accueil') }}'" />
        </section>
    </main>
{% endblock %}
