{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<style>
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* REGLAGES SMARTPHONE */
header{
    background-color: #ffff;
    padding-top: 2px;
}

.header-contact { 
    display: flex;
    align-items: center;
    height: 50px;
    max-width: 100%;
    font-size: 14px;
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    color: #FFFF;
    background-color: #8C8C8C;
    position: fixed;
}

.titre-contact{
    font-weight: lighter;
    font-size: 20px;
}



/* REGLAGES DESKTOP */
@media screen and (min-width: 1080px){
.header-contact { 
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 100%;
    font-size: 20px;
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    color: #FFFF;
    background-color: #8C8C8C;
    position: fixed;
}

.titre-contact{
    font-weight: lighter;
    font-size: 35px;
}
}


/* REGLAGES TABLETTE */
@media (min-width: 768px) and (max-width: 1080px){
.titre-liste-course{
    font-weight: lighter;
    font-size: 25px;
}

.header-contact { 
    display: flex;
    align-items: center;
    height: 50px;
    max-width: 100%;
    font-size: 14px;
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    color: #FFFF;
    background-color: #8C8C8C;
    position: fixed;
}

}
</style>

<div class="header-contact">
    <h2 class="titre-contact">Contact</h2>
</div>
{% endblock %}
