{% extends 'base.html.twig' %}

{% block title %}Nouvelle TableRecetteIngredients{% endblock %}

{% block body %}
<style>
.btn{
    width: 200px;
    margin: 7px;
}
</style>
    <h1>Nouvele TableRecetteIngredients</h1>

    {{ include('table_recette_ingredients/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('table_recette_ingredients_index') }}">retour à la liste</a>
{% endblock %}
