{% extends 'base.html.twig' %}

{% block title %}Stock{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/stock.css')}}">
{% endblock %}

{% block body %}
    <div class="header-liste-stock">
        <h2 class="titre-liste-stock">Votre stock</h2>
    </div>

    <div id="affichage-liste-stock">
        <form class="was-validated">
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
                <label class="custom-control-label" for="customControlValidation1">nom du produit</label>
                <div class="invalid-feedback">le produit n'est pas valider</div>
            </div>
        </form>
    </div>
{% endblock %}
