{% extends 'base.html.twig' %}

{% block title %}Liste course{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/course.css')}}">
{% endblock %}
{% block body %}
<script>
for (i=0; i<8; i++) {
    window["ingredientsdejeuner"+i]=window.localStorage.getItem("idRecette - dejeuner - "+i);
}
</script>


<div class="header-liste-course">
    <h2 class="titre-liste-course">Votre liste</h2>
</div>

<div class="header-print">
    <a class="text-print" href="#">Imprimer liste<img class="icon-print"src="../../public/assets/img/iconPng/print-white.png" alt="imprimer"></a>
</div>

<div class="header-print-smartphone">
    <a class="text-print" href="#"><img class="icon-print"src="../../public/assets/img/iconPng/print-white.png" alt="imprimer"></a>
</div>

<div id="affichage-liste-course">
<form class="was-validated">
<div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
    <label class="custom-control-label" for="customControlValidation1">nom du produit</label>
    <div class="invalid-feedback">le produit n'est pas validé</div>
</form>
</div>


{# <div class="affichage-liste-course-item">
    <input type="checkbox" id="validation" name="form-validation" checked>
    <label>Test 01</label>
</div>
<div class="affichage-liste-course-item">
    <input type="checkbox" id="validation" name="form-validation" checked>
    <label>Test 02</label>
</div> #}
</div>



    <div class="header-liste-course">
        <h2 class="titre-liste-course">Votre liste</h2>
        <a class="text-print" href="#">Imprimer liste<img class="icon-print"src="../../public/assets/img/iconPng/print-white.png" alt="imprimer"></a>
    </div>

    <div class="header-print-smartphone">
        <a class="text-print" href="#"><img class="icon-print"src="../../public/assets/img/iconPng/print-white.png" alt="imprimer"></a>
    </div>

{#     <div id="affichage-liste-course">
        <form class="was-validated">
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
                <label class="custom-control-label" for="customControlValidation1">nom du produit</label>
                <div class="invalid-feedback">le produit n'est pas valider</div>
            </div>
        </form> #}
        <script>
// stockage des données à afficher
var tableauNomIngredientsDejeuner = [];
var tableauQuantiteIngredientsDejeuner = [];
var tableauUniteIngredientsDejeuner = [];
var tableauPersonnesDejeuner = [];

var tableauNomIngredientsDiner = [];
var tableauQuantiteIngredientsDiner = [];
var tableauUniteIngredientsDiner = [];
var tableauPersonnesDiner = [];

// cas du déjeuner
for (j=1; j<8; j++) {
    // j = nombre de jours (7 max)
    if (window.localStorage.getItem("personnes - dejeuner - " + j) != null) {
        // on conserve le nombre de personnes par jour (et on convertir en nombre)
        tableauPersonnesDejeuner.push(window.localStorage.getItem("personnes - dejeuner - " + j));
        // le jour 1 devient la position 0 du tableau, on enlève donc 1 à j
        tableauPersonnesDejeuner[j-1] = parseInt(tableauPersonnesDejeuner[j-1]);
    };
    for (i=0; i<20; i++) {
        // i = nombre d'ingrédients par jour (on fait une boucle sur 20 pour être large)
        if (window.localStorage.getItem("nomIngredient" + i + " - " + "dejeuner" + " - " + j) != null 
        && window.localStorage.getItem("quantiteIngredientParPersonne" + i + " - " + "dejeuner" + " - " + j) != null) {
            tableauQuantiteIngredientsDejeuner.push(window.localStorage.getItem("quantiteIngredientParPersonne" + i + " - " + "dejeuner" + " - " + j));
            console.log(tableauQuantiteIngredientsDejeuner[i]);
            tableauNomIngredientsDejeuner.push(window.localStorage.getItem("nomIngredient" + i + " - " + "dejeuner" + " - " + j));
            tableauUniteIngredientsDejeuner.push(window.localStorage.getItem("uniteIngredient" + i + " - " + "dejeuner" + " - " + j));
        };
        // pour chaque jour, on convertit en nombre la quantité par ingrédient et on la multiplie par les personnes
    for (i=0; i<tableauQuantiteIngredientsDejeuner.length; i++) {
        console.log(tableauQuantiteIngredientsDejeuner[i]);
        tableauQuantiteIngredientsDejeuner[i] = parseInt(tableauQuantiteIngredientsDejeuner[i]);
        tableauQuantiteIngredientsDejeuner[i] = tableauQuantiteIngredientsDejeuner[i]*tableauPersonnesDejeuner[j-1];
        console.log(tableauQuantiteIngredientsDejeuner[i]);
    };  
    };
};
console.log(tableauQuantiteIngredientsDejeuner);

// on additionne la quantité des doublons (et on supprime ensuite les valeurs surnuméraires)
for (i=tableauNomIngredientsDejeuner.length; i>0; i--) {
    // on fait deux boucles qui se déclenchent avec un intervalle de 1 pour comparer toutes les données entre elles
    for (j=0; j<tableauNomIngredientsDejeuner.length; j++) {
        if (tableauNomIngredientsDejeuner[i] == tableauNomIngredientsDejeuner[j]) {
            // on ne prend en compte que les valeurs communes
            if (isNaN(tableauQuantiteIngredientsDejeuner[i]) != true && isNaN(tableauQuantiteIngredientsDejeuner[j]) != true) {
            tableauQuantiteIngredientsDejeuner[j] = parseInt(tableauQuantiteIngredientsDejeuner[j]) + parseInt(tableauQuantiteIngredientsDejeuner[i]);
            tableauQuantiteIngredientsDejeuner.splice(i, 1);
            tableauNomIngredientsDejeuner.splice(i, 1);
            tableauUniteIngredientsDejeuner.splice(i, 1);
            };
        };
    };
};
console.log(tableauQuantiteIngredientsDejeuner);



// publication finale des données
            for (j=0; j<7; j++) {                
                for (i=0; i<tableauNomIngredientsDejeuner.length; i++) {
                    if (tableauNomIngredientsDejeuner[i] != null && tableauPersonnesDejeuner) {
                        if (isNaN(tableauQuantiteIngredientsDejeuner[i]*tableauPersonnesDejeuner[j]) != true) {
                            document.write(`
                            <form class="was-validated" data-index="${i} - ${j}"><div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" required>
                            <label>`
                            + tableauQuantiteIngredientsDejeuner[i] + tableauUniteIngredientsDejeuner[i] + " " + tableauNomIngredientsDejeuner[i] +
                            `</label></div></form>`);
                        };
                    };
            };
        };

        </script>
        

    </div>
{% endblock %}
{% block javascripts %}
<script src="{{asset('assets/js/liste.js')}}"> </script>
{% endblock %}