{% extends 'base.html.twig' %}

{% block title %}Liste course{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/course.css')}}">
{% endblock %}
{% block body %}

{% for i in 1..7 %}
    {% set ingredients ~ i = '<script type="text/javascript">window.localStorage.getItem("idRecette - dejeuner - ");</script>' %}
    {{ ingredients ~ i}}
{% endfor %}


<div class="header-liste-course">
    <h2 class="titre-liste-course">Votre liste</h2>
</div>

<div class="header-print">
    <a class="text-print" href="#">Imprimer liste<img class="icon-print"src="../../public/assets/img/iconPng/print-white.png" alt="imprimer"></a>
</div>

<div class="header-print-smartphone">
    <a class="text-print" href="#"><img class="icon-print"src="../../public/assets/img/iconPng/print-white.png" alt="imprimer"></a>
</div>






<div id="affichage-liste-course">
<form class="was-validated">
<div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
    <label class="custom-control-label" for="customControlValidation1">nom du produit</label>
    <div class="invalid-feedback">le produit n'est pas valider</div>
</div>
</form>

{# <div class="affichage-liste-course-item">
    <input type="checkbox" id="validation" name="form-validation" checked>
    <label>Test 01</label>
</div>
<div class="affichage-liste-course-item">
    <input type="checkbox" id="validation" name="form-validation" checked>
    <label>Test 02</label>
</div> #}
</div>



{% block body %}
    <div class="header-liste-course">
        <h2 class="titre-liste-course">Votre liste</h2>
        <a class="text-print" href="#">Imprimer liste<img class="icon-print"src="../../public/assets/img/iconPng/print-white.png" alt="imprimer"></a>
    </div>

    <div class="header-print-smartphone">
        <a class="text-print" href="#"><img class="icon-print"src="../../public/assets/img/iconPng/print-white.png" alt="imprimer"></a>
    </div>

{#     <div id="affichage-liste-course">
        <form class="was-validated">
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
                <label class="custom-control-label" for="customControlValidation1">nom du produit</label>
                <div class="invalid-feedback">le produit n'est pas valider</div>
            </div>
        </form> #}


    </div>
{% endblock %}
