    {% extends 'base.html.twig' %}

{% block title %}Liste course{% endblock %}

{% block body %}
<style>
    .header-liste-course { 
        display: flex;
        height: 50px;
        width: 100%;
        max-width: 768px;
        font-size: 14px;
        font-family: 'SukhumvitSet-Light', 'sans-serif';
        text-align: center;
        color: #FFFF;
        background-color: #8C8C8C;
    }

.titre-liste-course{
    font-weight: lighter;
}

.text-print{
    width: 25px;
}

.text-print, a{
    color: #ffff;
}


.affichage-liste-course{
    color: #C4C4C4;
}





</style>

<div class="header-liste-course">
    <h2 class="titre-liste-course">Votre liste</h2>
    <a href="#">Imprimer liste<img class="text-print"src="../../public/assets/img/iconPng/print-white.png" alt=""></a>

</div class="affichage-liste-course">

</div>


{% endblock %}
