{% extends 'base.html.twig' %}

{% block title %}Liste recette{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/listeRecettes.css')}}">
{% endblock %}

{% block body %}

<section class="container-liste-recette">
    {% for recette in recettes %}
    <a href="../detail/{{ recette.id }}">
        <div class="typeDiv" style="background-image: url('{{asset('assets/img/recettesImg/' ~ recette.photo)}}');background-repeat:no-repeat;background-size: cover;">
            <h2>{{ recette.titre }}</h2>
        </div>
    </a>
    {% endfor %}
</section>
{% endblock %}
