{% extends 'base.html.twig' %}

{% block title %}Liste recette{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/listeRecettes.css')}}">
{% endblock %}

{% block body %}
<section>
    <a href="{{ url('categorie_entrees') }}"> 
    <div class="typeDiv">
        <h2>Nom du plat</h2>
    </div>
  
</section>

{% endblock %}
{% block javascripts %}
<script src="{{asset('assets/js/liste.js')}}"> </script>
{% endblock %}