{% extends 'base.html.twig' %}

{% block title %}Liste recette{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/listeRecettes.css')}}">
{% endblock %}

{% block body %}

<section>

        <a href="{{ url('categorie_entrées') }}"> <div class="listeDiv1">
        <h2>Entrées</h2>
                 </div>
    </a>

   

</section>

{% endblock %}
